body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(3, 45, 70));
    background: radial-gradient(rgb(255, 255, 255), rgb(3, 45, 70));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: ;
    font-weight: bold;
    height: 100vh;
}

.v-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    background-color: whitesmoke;
}

.gauche {
    margin-bottom: 20px;
}

.droite {
    text-align: center;
}

.v-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.v-card h1 {
    margin: 10px;
    color: #3498db;
    font-size: 28px;
}

.metier {
    margin: 25px;
    color: #555;
    font-weight: bold;
}

.contact {
    margin: 5px;
    color: #555;
}

.loc {
    margin: 5px;
    color: #555;
    font-style: italic;
}

.RS {
    margin-top: 20px;

}

.RS img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    transition: transform 0.3s ease-in-out;
}

.RS img:hover {
    transform: scale(1, 2);
}