body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(3, 45, 70));
    background: radial-gradient(rgb(255, 255, 255), rgb(3, 45, 70));
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    font-weight: bold;
}

.v-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    background-color: whitesmoke;
    opacity: 0;
    
    animation: fondu 2s forwards;
   
}

@keyframes fondu {
    to {
        opacity: 1;
    }
}

.gauche {
    margin-bottom: 20px;
}

.droite {
    text-align: center;
    opacity: 0;
    animation: fondu 2s forwards;
    text-shadow:0 0 5px black

}



.v-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px ;
}


.v-card img:hover {
    transform: scale(1.2);
}

.RS img {
    width: 45px;
    height: 50px;
    margin: 8px;
    box-shadow: 0 0 10px;
    
}
.v-card img:hover {
    transform: scale(1.2);
}


